<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Guess Numbers!</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>我是石敬豪(Terry)、(Nekokami)</h1>
    <h2>這是第5週需要學的 <br>
          


    </h2>
    <p id="ta">by  Nekokami<br></p>
    <div id="container">
        <div id="content">
            
            {%for k in msgs %}
            <div class="msg">
                <span class = "name">{{k.talker}}</span>
                {{k.message}}
            </div>
            {% endfor %}



        </div>
        <div id="send-box">
            <form id="send-form" action="." method="post">
                <input type="text" name="name" id="name" placeholder="暱稱">
                <form method="GUESS" action="send">
                {% csrf_token %}
                <input type="text" name="msg" id="msg" placeholder="說些什麼吧">
                <button type="submit" id="submit" >送出</button>
				</form>
            </form>
            <span id='ps'>Ps:格子可以輸入，也可以送出<br>
			但是不會有反應XD</span>

        </div>
    </div>
</body>
<footer>
	<p>與我聯絡:<strong>E-mail</strong>:B10601112@mail.ntust.edu.tw</p>
</footer>
</html>